<main>
    <div class="container">
        <div>
            <img src="sucesso.jpg" alt="">
        </div>

        <div>
            <h1>Felipe Nascimento</h1>
            <p>Itu, Brasil</p>
        </div>

        <div>
            <p>Desenvolvedor front-end</p>
        </div>

        <div class="btn">
            <button>GitHub</button>

            <button>Frontend Mentor</button>

            <button>Linkedin</button>

            <button>Twitter</button>

            <button>Instagram</button>
        </div>
    </div>
</main>